/* Big Desktop to 1600px */

@media only screen and (max-width: 1600px) and (orientation: landscape) {
    body {
        font-size: 21px;
    }
    .enter {
        display: none;
    }
    .focus-enter {
        display: none;
    }
    .skill-box {
        height: 600px;
    }
}

/* Big Laptop to 1440px */

@media only screen and (max-width: 1440px) and (orientation: landscape) {
    body {
        font-size: 20px;
    }
    .skill-box {
        height: 550px;
    }
}

/* Small laptop to 1280px */

@media only screen and (max-width: 1280px) and (orientation:landscape) {
    body {
        font-size: 18px;
    }
    .skill-box {
        height: 500px;
    }
}

/* Big tablet to 1200px (from 1024px to 1199px) */

@media only screen and (max-width: 1200px) and (orientation: landscape) {
    body {
        font-size: 16px;
    }
}

/* Small tablet to big tablet: from 768px to 1023px */

@media only screen and (max-width: 1023px) and (orientation: landscape) {
    body {
        font-size: 14px;
    }
    .skill-box {
        height: 400px;
    }
    #skill li h4 {
        top: -130%;
    }
}

/* Small phones to small tablets: from 481px to 767px */

@media only screen and (max-width: 767px) and (orientation: landscape) {
    body {
        font-size: 10px;
    }
    .profile-box {
        position: absolute;
        top: 10%;
        left: 41%;
    }
    .profile-box img {
        width: 50%;
        margin-left: 25%;
    }
    .icon-small {
        margin-left: 8px;
        margin-right: -10px;
    }
    .section-graduation .focus img {
        width: 45%;
        margin-right: 15%;
    }
    .button {
        width: 45%;
    }
    .section-graduation .bicover img {
        width: 50%;
        margin-top: 10%;
        margin-right: 15%;
    }
    /* Side Project */
    .webflow-style-input {
        width: 45%;
    }
    .webflow-style-input input {
        font-size: 10px;
        line-height: 0.1rem;
    }
    /* Profile right */
    #skill {
        width: 85%;
    }
    #skill h4 {
        width: 100%;
    }
    #skill li {
        margin-top: 22%;
    }
    #skill li:first-child {
        margin-top: 18%;
    }
}

@media only screen and (max-width: 680px) and (orientation: landscape) {
    body {
        font-size: 10px;
    }
    .hero-text-box {
        width: 70%;
    }
    .icon-coming {
        left: 25%;
    }
    .webflow-style-input {
        width: 50%;
    }
    /* Graduation Project */
    .alert-message {
        padding: 3px;
    }
    .section-graduation .main-intro {
        margin-top: 10%;
    }
    .section-graduation .bicover h1 {
        margin-top: 20%;
    }
    /* Profile left */
    .icon-small {
        margin-right: -14px;
    }
    .skill-box {
        height: 370px;
    }
}

/* Small phones: from 425px to 479px */

@media only screen and (max-width: 600px) and (orientation: landscape) {
    body {
        font-size: 7px;
    }
    /* Side Project */
    .section-side h1 {
        width: 60%;
    }
    /* Profile left */
    .skill-box h4 {
        letter-spacing: 0;
    }
    .icon-small {
        margin-right: -18px;
    }
    .skill-box {
        height: 450px;
    }
    /* Profile right */
    #skill {
        width: 90%;
    }
    #skill h4 {
        width: 110%;
    }
    #skill li {
        margin-top: 30%;
    }
    #skill li:first-child {
        margin-top: 20%;
    }
}

@media only screen and (max-height: 320px) and (max-width: 480px) and (orientation: landscape) {
    body {
        font-size: 6px;
    }
    .profile-box {
        left: 38%;
    }
    .profile-box img {
        width: 30%;
        margin-left: 35%;
    }
    /* Graduation Project */
    .alert-message {
        font-size: 6px;
        letter-spacing: 0;
    }
    .pointer-cursor {
        left: 10px;
    }
    .section-graduation .focus img {
        width: 30%;
        float: left;
        margin-left: 5%;
        margin-right: 0;
    }
    .main-intro {
        display: none;
    }
    .focus-small {
        display: block;
        float: right;
        margin-right: 15%;
        margin-top: 10%;
    }
    .button {
        position: absolute;
        width: 15%;
        left: 3%;
        bottom: 20%;
        z-index: 999;
    }
    .btn {
        width: 50%;
        margin-top: 8%;
    }
    .focus-small .btn:link, .btn:visited {
        padding: 5px 5px;
        font-weight: 300;
    }
    /* Bicover */
    .bicover-big {
        display: none;
    }
    .bicover-small {
        display: inline-block;
        margin-top: 12%;
    }
    .bicover-small .btn:link, .btn:visited {
        padding: 5px 5px;
        font-weight: 300;
    }
    .bicover-small .btn {
        width: 50%;
        margin-top: 8%;
    }
    .section-graduation .bicover h1 {
        margin-top: 30%;
    }
    .section-graduation .bicover img {
        float: right;
        width: 35%;
        margin-top: 15%;
        margin-right: 15%;
    }
    /* Side Project */
    .section-side ul {
        left: 40%;
    }
    /* TPL Cloud */
    .section-tplcloud h3 {
        width: 70%;
    }
    .icon-coming {
        left: 20%;
    }
    /* Profile */
    .avatar {
        width: 90%;
    }
    .avatar div:first-child {
        text-align: center;
    }
    .avatar div:last-child {
        text-align: center;
    }
    .avatar img {
        position: relative;
        width: 20%;
        margin-left: -5%;
    }
    .skill-box {
        margin-top: 5%;
        height: 420px;
    }
    /* Profile Header */
    /* Profile left */
    .skill-box h4 {
        letter-spacing: 1px;
    }
    .icon-small {
        margin-right: -5px;
    }
    /* Profile Medium */
    /* Profile right */
    #skill {
        width: 90%;
    }
    #skill h4 {
        margin-left: 1%;
        width: 90%;
    }
    #skill li {
        margin-top: 10%;
    }
    #skill li:first-child {
        margin-top: 9%;
    }
    /* Footer */
    .tpl {
        float: none;
        width: 40%;
        margin-bottom: 3%;
        margin-left: 30%;
    }
    .hust {
        float: none;
        width: 50%;
        margin-top: 3%;
        margin-left: 28%;
    }
    .back-box {
        width: 70%;
    }
}

/* ---------------------- */

/*        Portrait       */

/* --------------------- */

@media only screen and (max-width: 1023px) and (orientation: portrait) {
    body {
        font-size: 14px;
    }
    .enter {
        display: none;
    }
    .hero-text-box {
        width: 80%;
        left: 55%;
    }
    .profile-box {
        top: 20%;
    }
    .section-graduation h1 {
        width: 100%;
    }
    /* Side Project */
    .section-side h1 {
        left: 10%;
    }
    .section-side ul {
        left: 40%;
    }
    /* TPL Cloud */
    .section-tplcloud h1 {
        left: 30%;
    }
    .section-tplcloud h3 {
        width: 60%;
    }
    .icon-coming {
        left: 30%;
    }
    /* Profile */
    .avatar img {
        width: 12%;
        top: 15%;
    }
    .skill-box {
        height: 450px;
    }
    #skill li h4 {
        position: relative;
        top: -150%;
    }
    /* Footer */
    .tpl {
        float: left;
        width: 30%;
        margin-bottom: 3%;
        margin-top: 3%;
        margin-left: 5%;
    }
    .hust {
        float: right;
        width: 35%;
        margin-top: 3%;
        margin-bottom: 3%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    .profile-box {
        top: 20%;
        left: 40%;
    }
    .enter {
        display: inline;
    }
    .dot {
        display: none;
    }
    .hero-text-box {
        width: 60%;
        left: 60%;
    }
    /* Graduation Project */
    .button {
        left: -3%;
    }
    .btn {
        width: 60%;
        margin-left: 30%;
    }
    .section-graduation .focus img {
        width: 60%;
        margin-right: 18%;
    }
    .section-graduation .bicover img {
        margin-top: 0;
    }
    /* Side Project */
    .section-side h1 {
        width: 90%;
        left: 5%;
    }
    /* TPL Cloud */
    .icon-coming {
        bottom: 3%;
    }
    /* Profile */
    .avatar img {
        width: 10%;
        top: 14%;
    }
    .skill-box {
        height: 500px;
    }
    /* Left */
    /* Right */
    #skill li {
        margin-top: 30%;
    }
    #skill li:first-child {
        margin-top: 25%;
    }
    /* Footer */
    .back-box {
        width: 90%;
    }
}

@media only screen and (max-width: 479px) and (orientation: portrait) {
    body {
        font-size: 14px;
    }
    .arrow {
        left: 45%;
        top: 85%;
    }
    /*  Arrow Animation */
    @keyframes arrow-movement {
        0% {
            opacity: 0;
            top: 80%;
        }
        70% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    .profile-box {
        width: 20%;
    }
    .hero-text-box {
        width: 80%;
    }
    .pointer-cursor{
        top:7px;
        left:5px;
    }
    /* Graduation Project */
    .btn {
        width: 35%;
    }
    .webflow-style-input {
        width: 70%;
    }
    /* TPL Cloud */
    .section-tplcloud h1 {
        width: 85%;
        top: 40%;
        left: 10%;
    }
    .section-tplcloud h3 {
        width: 90%;
        left: 5%;
    }
    .icon-coming {
        left: 15%;
    }
    .icon-coming i {
        margin-left: 8px;
    }
    /* Profile */
    .avatar div:first-child {
        text-align: center;
    }
    .avatar div:last-child {
        text-align: center;
    }
    .avatar img {
        position: relative;
        width: 20%;
        margin-left: -5%;
    }
    .skill-box {
        margin-top: 7%;
        height: 400px;
    }
    /* Left */
    .skill-box h4 {
        letter-spacing: 1px;
    }
    /* Right */
    #skill {
        margin: 6% 4%;
    }
    #skill li {
        margin-top: 10%;
    }
    #skill li:first-child {
        margin-top: 10%;
    }
    #skill li h4 {
        top: -120%;
    }
}

@media only screen and (max-width: 424px) and (orientation: portrait) {
    body {
        font-size: 12px;
    }
    .dot {
        display: none;
    }
    .btn {
        width: 40%;
    }
    /* Side Project */
    .section-side img {
        width: 30%;
    }
    .github-corner img {
        width: 20%;
    }
    /* TPL Cloud */
    .section-tplcloud h1 {
        width: 85%;
        left: 12%;
    }
    /* Profile */
    .skill-box {
        height: 400px;
    }
    #skill {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 374px) and (orientation: portrait) {
    body {
        font-size: 11px;
    }
    .profile-box {
        width: 30%;
        left: 35%;
    }
    .alert-message {
        padding: 3px;
    }
    .btn {
        width: 43%;
    }
    .btn:link, .btn:visited {
        padding: 8px 8px;
        font-weight: 300;
    }
    .btn-full:link, .btn-full:visited {
        background-color: #0000FF;
        color: #fff;
        margin-right: 25%;
    }
    .focus-detail {
        display: none;
    }
    .bicover-detail {
        display: none;
    }
    .section-graduation .focus img {
        width: 50%;
        left: 25%;
        margin-right: 25%;
    }
    .button {
        width: 50%;
        margin-right: 22%;
    }
    .section-graduation .bicover h1 {
        margin-top: 20%;
    }
    .section-graduation .bicover img {
        width: 60%;
        margin-right: 20%;
    }
    /* Profile */
    .skill-box {
        height: 330px;
    }
    #skill li {
        margin-top: 10%;
    }
    #skill li:first-child {
        margin-top: 0%;
    }
}

/* Small phones: from 0 to 320px */

@media only screen and (max-width: 320px) and (orientation: portrait) {
    body {
        font-size: 10px;
    }
    .profile-box {
        left: 38%;
    }
    .hero-text-box {
        top: 52%;
        width: 78%;
        left: 55%;
    }
    .section-graduation .focus img {
        width: 50%;
        float: left;
        margin-left: 25%;
        margin-right: 0;
    }
    .button {
        position: absolute;
        width: 24%;
        left: 13%;
        bottom: 45%;
        z-index: 999;
    }
    .section-graduation .bicover img {
        float: right;
        width: 50%;
        margin-top: 5%;
        margin-right: 25%;
    }
    .btn {
        width: 30%;
    }
    /* Side Project */
    .section-side ul {
        left: 35%;
    }
    /* TPL Cloud */
    .section-tplcloud h1 {
        width: 90%;
    }
    .section-tplcloud h3 {
        left: 10px;
        width: 95%;
    }
    .icon-coming {
        left: 10%;
    }
    .icon-coming i {
        margin-left: 2px;
    }
    .alert-message {
        padding: 2px;
    }
    .pointer-cursor {
        top: 5px;
        left: 10px;
    }
    /* Profile */
    .skill-box {
        height: 360px;
    }

    #skill li {
        margin-top: 15%;
    }
}